.sidebar {
  border-color: #1f1f1f;
  background-color: #101112;

  @apply h-full p-4 pt-20 overflow-hidden align-middle justify-between flex-col flex w-[63px] border-solid border-l-0 border-t-0 border-b-0 border-r;
}

.sidebar-button,
.sidebar-add {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: all 0.25s;

  i {
    font-size: 1.2rem;
  }

  &:hover,
  &:active,
  &:focus {
    border-radius: 45%;
    /* border-radius: 24px; */
    outline: none;
    scale: 1.0025;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
  }
}

.sidebar-add {
  background-color: rgba(148, 63, 60, 0.4);

  i {
    font-size: 1.8rem;
  }

  &:hover,
  &:focus {
    background-color: rgba(148, 63, 60, 0.8);
  }

  &:active {
    background-color: rgb(148, 63, 60);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .sidebar-selected {
    background-color: rgb(0, 115, 255);
    border-radius: 45%;
  }

  .sidebar-add-selected {
    background-color: rgb(148, 63, 60);
    border-radius: 45%;
  }

  .sidebar-button {
    background-color: rgb(24, 24, 24);

    &:hover {
      background-color: rgb(29, 38, 52);
    }

    &:active,
    &:focus {
      background-color: rgb(68, 138, 223);
    }
  }

  .sidebar-selected {
    background-color: rgb(68, 138, 223);

    &:hover {
      background-color: rgb(0, 140, 255);
    }

    &:active,
    &:focus {
      background-color: rgb(68, 138, 223);
    }

    &.sidebar-selected {
      &:hover {
        background-color: rgb(0, 140, 255);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .sidebar {
    background-color: #f9f9f9;
    border-right: 1px solid #f3f3f3;
  }

  .sidebar-button,
  .sidebar-add {
    background-color: #f0f0f0;
  }

  .sidebar-button:hover,
  .sidebar-add:hover {
    .bi {
      color: white;
    }
  }

  .sidebar-add-selected {
    background-color: rgb(218, 101, 101);

    &:hover {
      background-color: rgba(127, 78, 78, 0.8);
    }

    &:active,
    &:focus {
      background-color: rgb(214, 78, 78);
    }

    &.sidebar-add-selected {
      &:hover {
        background-color: rgba(127, 78, 78, 0.8);
      }
    }
  }

  .sidebar-button {
    &:hover {
      background-color: rgba(67, 149, 197, 0.8);
    }

    &:active,
    &:focus {
      background-color: rgb(67, 149, 197);
    }
  }

  .sidebar-selected {
    background-color: rgba(53, 142, 195);
    border-radius: 45%;

    &:hover {
      background-color: rgba(53, 142, 195, 0.8);
    }

    &:active,
    &:focus {
      background-color: rgb(53, 142, 195);
    }

    &.sidebar-selected {
      &:hover {
        background-color: rgba(53, 142, 195, 0.8);
      }
    }
  }

  .sidebar-add-selected,
  .sidebar-selected {
    .bi {
      color: white;
    }
  }

  .sidebar-button:hover {
    background-color: rgb(105, 146, 170);
  }

  a:hover {
    color: white;
  }

  :focus {
    .bi {
      color: white;
    }
  }
}
