.sidebar {
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem 1rem 1rem;
    height: 100vh;
    overflow: hidden;
    background-color: #0a0a0a;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-bottom: 32px;
}

.sidebar-button, .sidebar-add {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: all 0.25s;

    i {
        font-size: 1.2rem;
    }

    &:hover, &:active, &:focus {
        border-radius: 45%;
        outline: none;
    }
}

.sidebar-button {
    background-color: rgb(24, 24, 24);
  
    &:hover {
      background-color: rgb(29, 38, 52);
    }
  
    &.sidebar-selected {
      &:hover {
        background-color: rgba(0, 115, 255, 0.8);
      }
    }
  
    &:active, &:focus {
      background-color: rgb(0, 115, 255);
    }
  }

.sidebar-add {
    background-color: rgba(148, 63, 60, 0.4);

    i {
        font-size: 1.8rem;
    }

    &:hover {
        background-color: rgba(148, 63, 60, 0.8);
    }

    &:active, &:focus {
        background-color: rgb(148, 63, 60);
    }
}

.sidebar-selected {
    background-color: rgb(0, 115, 255);
    border-radius: 45%;
}

.sidebar-add-selected {
    background-color: rgb(148, 63, 60);
    border-radius: 45%;
}

a {
    text-decoration: none;
    color: inherit;
}