.header-bar {
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 96px - 64px);
    padding-top: 8px;

    user-select: none;
}