.add-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 96px - 64px);
    padding-bottom: 16px;
    padding-top: 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.08);
  }
  
  .add-task-form-item-row {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    width: calc(100% - 52px);

    input {
        background-color: rgba(255, 255, 255, 0.08);
    }

    input:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    select {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        border: none;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        outline: none; 
        border: none;
    }

    select:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
  }
  
  .add-task-form-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    input {
        background-color: rgba(255, 255, 255, 0.08);
        width: calc(100%);
    }

    input:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    select {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        border: none;
        height: 40px;
        outline: none; 
        border: none;
    }

    select:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .add-task-form-item {
    margin-bottom: 10px; /* Adjust spacing between form items */
    width: calc(100% - 52px);
    input {
        background-color: rgba(255, 255, 255, 0.08);
        width: calc(100% - 40px);
    }

    input:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    select {
        background-color: rgba(255, 255, 255, 0.08);
        width: calc(100% - 8px);
        border-radius: 16px;
        border: none;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        outline: none; 
        border: none;
    }

    select:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .date {
    margin-right: 8px;
  }
  
  .add-task-form-submit {
    background-color: rgba(255, 255, 255, 0.08);
    width: calc(100%);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }