.title-bar {
  -webkit-app-region: drag;

  @apply absolute top-0 z-50 flex flex-row items-center justify-between w-full h-6 overflow-hidden bg-transparent;
}

::-webkit-scrollbar {
  @apply absolute z-50 w-2.5;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-opacity-40 bg-zinc-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-80;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e7e7e7;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
}
