.auth-page-container,
.main-page-container,
.modal-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #161616;
  position: relative;
  user-select: none;
  width: calc(100vw - 96px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-container {
  height: 100%;
  padding-bottom: 36px;
}

.auth-page-container {
  width: calc(100vw - 64px);
  padding-left: 32px;
  padding-right: 32px;
  justify-content: center;
}

.title-bar {
  background-color: #0a0a0a;
  height: 32px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag; /* Allows dragging the window */
}

.title-bar-title {
  font-size: 14px;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  position: absolute;
  z-index: 1000;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

@media (prefers-color-scheme: light) {
  .main-page-container, .auth-page-container, .title-bar, .modal-container {
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: #f9f9f9;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }
}
